body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u218 {
  position:absolute;
  left:-8px;
  top:0px;
  width:960px;
  height:600px;
}
#u219 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:-9px;
  top:0px;
  width:960px;
  height:600px;
  opacity:0.7;
}
#u221 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:90px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:90px;
}
#u223 {
  position:absolute;
  left:2px;
  top:37px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u224 {
  position:absolute;
  left:359px;
  top:21px;
  width:252px;
  height:69px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u226 {
  position:absolute;
  left:860px;
  top:25px;
  width:45px;
  height:45px;
}
#u227 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u228 {
  position:absolute;
  left:33px;
  top:25px;
  width:45px;
  height:45px;
}
#u229 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:510px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:0px;
  top:90px;
  width:201px;
  height:510px;
}
#u232 {
  position:absolute;
  left:2px;
  top:247px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u233 {
  position:absolute;
  left:0px;
  top:137px;
  width:206px;
  height:69px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u235 {
  position:absolute;
  left:0px;
  top:253px;
  width:206px;
  height:69px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u237 {
  position:absolute;
  left:0px;
  top:485px;
  width:206px;
  height:69px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u239 {
  position:absolute;
  left:0px;
  top:369px;
  width:206px;
  height:69px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:12px;
}
#u241 {
  position:absolute;
  left:0px;
  top:90px;
  width:201px;
  height:1px;
}
#u242 {
  position:absolute;
  left:2px;
  top:-8px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u244_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:713px;
  height:15px;
}
#u244 {
  position:absolute;
  left:216px;
  top:205px;
  width:700px;
  height:2px;
}
#u245 {
  position:absolute;
  left:2px;
  top:-7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u246 {
  position:absolute;
  left:236px;
  top:137px;
  width:252px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u248 {
  position:absolute;
  left:542px;
  top:137px;
  width:304px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u251_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:713px;
  height:15px;
}
#u251 {
  position:absolute;
  left:216px;
  top:297px;
  width:700px;
  height:2px;
}
#u252 {
  position:absolute;
  left:2px;
  top:-7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u253 {
  position:absolute;
  left:236px;
  top:229px;
  width:252px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u255 {
  position:absolute;
  left:535px;
  top:229px;
  width:374px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:713px;
  height:15px;
}
#u258 {
  position:absolute;
  left:216px;
  top:390px;
  width:700px;
  height:2px;
}
#u259 {
  position:absolute;
  left:2px;
  top:-7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u260 {
  position:absolute;
  left:236px;
  top:322px;
  width:252px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u262 {
  position:absolute;
  left:542px;
  top:322px;
  width:252px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:713px;
  height:15px;
}
#u265 {
  position:absolute;
  left:216px;
  top:488px;
  width:700px;
  height:2px;
}
#u266 {
  position:absolute;
  left:2px;
  top:-7px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u267 {
  position:absolute;
  left:236px;
  top:420px;
  width:252px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u269 {
  position:absolute;
  left:542px;
  top:420px;
  width:252px;
  height:47px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u271 {
  position:absolute;
  left:906px;
  top:147px;
  width:24px;
  height:27px;
}
#u272 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u273 {
  position:absolute;
  left:906px;
  top:239px;
  width:24px;
  height:27px;
}
#u274 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u275 {
  position:absolute;
  left:906px;
  top:332px;
  width:24px;
  height:27px;
}
#u276 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u277 {
  position:absolute;
  left:906px;
  top:430px;
  width:24px;
  height:27px;
}
#u278 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
