body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:505px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:505px;
}
#u953 {
  position:absolute;
  left:2px;
  top:244px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:45px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u955 {
  position:absolute;
  left:2px;
  top:12px;
  width:321px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:355px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:0px;
  top:150px;
  width:325px;
  height:355px;
}
#u957 {
  position:absolute;
  left:2px;
  top:170px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u958 {
  position:absolute;
  left:17px;
  top:55px;
  width:77px;
  height:77px;
}
#u959 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u960 {
  position:absolute;
  left:118px;
  top:64px;
  width:37px;
  height:21px;
  font-size:18px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u962 {
  position:absolute;
  left:120px;
  top:95px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u964 {
  position:absolute;
  left:120px;
  top:124px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u966 {
  position:absolute;
  left:20px;
  top:168px;
  width:70px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u968 {
  position:absolute;
  left:108px;
  top:168px;
  width:110px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u970 {
  position:absolute;
  left:236px;
  top:168px;
  width:70px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:0px;
  top:215px;
  width:325px;
  height:250px;
  overflow:hidden;
}
#u972_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u972_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:227px;
}
#u973 {
  position:absolute;
  left:0px;
  top:23px;
  width:325px;
  height:227px;
}
#u974 {
  position:absolute;
  left:2px;
  top:106px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:250px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u972_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:271px;
}
#u975 {
  position:absolute;
  left:1px;
  top:9px;
  width:319px;
  height:271px;
}
#u976 {
  position:absolute;
  left:2px;
  top:128px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:250px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u972_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  position:absolute;
  left:16px;
  top:17px;
  width:300px;
  height:80px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:16px;
  top:107px;
  width:29px;
  height:17px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u981 {
  position:absolute;
  left:55px;
  top:107px;
  width:237px;
  height:25px;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u982 {
  position:absolute;
  left:86px;
  top:155px;
  width:140px;
  height:25px;
}
#u982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u983 {
  position:absolute;
  left:215px;
  top:71px;
  width:80px;
  height:46px;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:46px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u984 {
  position:absolute;
  left:264px;
  top:12px;
  width:49px;
  height:22px;
}
#u984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u984_input:disabled {
  color:grayText;
}
