body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:729px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:527px;
}
#u519 {
  position:absolute;
  left:2px;
  top:256px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:40px;
  opacity:0.8;
}
#u522 {
  position:absolute;
  left:2px;
  top:12px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u523 {
  position:absolute;
  left:201px;
  top:80px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u524 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u525 {
  position:absolute;
  left:432px;
  top:80px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u527 {
  position:absolute;
  left:0px;
  top:127px;
  width:729px;
  height:400px;
  overflow:hidden;
}
#u527_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u527_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:310px;
}
#u528 {
  position:absolute;
  left:77px;
  top:36px;
  width:558px;
  height:310px;
}
#u529 {
  position:absolute;
  left:2px;
  top:147px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:400px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u527_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:319px;
}
#u530 {
  position:absolute;
  left:101px;
  top:48px;
  width:514px;
  height:319px;
}
#u531 {
  position:absolute;
  left:2px;
  top:152px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
